// Centrado horizontal
%center-h{
	margin-left: auto;
	margin-right: auto;
}

// Centrado vertical
%center-v{
	@include box-sizing(border-box);
	display: table;
	> *{
		display: table-cell;
		vertical-align: middle;
	}
}

// Inline block sin margen por defecto
@mixin inline-block{
	display: inline-block;
	margin-right: -4px;
}

// Capa a pantalla completa
@mixin fullscreen{
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}