// Variables | Externas
@import '../sass/variables/vendors/flat-colors';
@import '../sass/variables/vendors/social-colors';

@import "../sass/variables/variables";
@import "../sass/helpers/responsive";
@import "../sass/helpers/texts";
@import "../sass/helpers/box-sizing";
@import "../sass/helpers/border-radius";

.filters {
  margin-bottom: 20px;
  padding-left: 20px;
}

.activos {
  .activo {
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 10px;
    border: 1px solid $color-grey;
    padding: 15px;
    -webkit-transition: $transition-all;
    -moz-transition: $transition-all;
    -ms-transition: $transition-all;
    -o-transition: $transition-all;
    transition: $transition-all;

    &:hover {
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
      -moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
      box-shadow: 0 0 10px rgba(0,0,0,.5);
    }
    h2 {
      font-size: 1em;
      min-height: 54px;
    }
    p {
      color: $color-main;
      @include text('text-small');
      strong {
        color: $color-dark;
      }

      @include responsive('max-phablet') {
        @include text('text');
      }
    }
  }
}
