// Tamaño de sliders (para tipo 'cover')
.swiper-slide{

	// Muy grande
	.slider-xl &{
		height: 50rem;
	}

	// Grande
	.slider-lg &{
		height: 40rem;
	}

	// Mediano Grande
	.slider-ml &{
		height: 35rem;
	}

	// Mediano
	.slider-md &{
		height: 30rem;
	}

	// Pequeño
	.slider-sm &{
		height: 20rem;
	}
	@include responsive('max-phablet') {
		height: 20rem !important;
	}
}

// Ajustes de sliders
.swiper-container{

	// Slider | Doble
	&.double-slider{
		padding-bottom: $gap-slider;

		// Reposicionamiento de botones de navegación
		.swiper-button-next,
		.swiper-button-prev{
			top: 45%;
		}
	}

	&.swiper-nomobile {
		display: none;
		@include responsive('min-phablet') {
			display: block;
		}
	}

	&.swiper-mobile {
		display: block;
		@include responsive('min-phablet') {
			display: none;
		}
	}
}