body > footer{
	// Variables
	$gap: 1.5em;
	
	// Estilos
	background-color: $color-dark;
	color: $color-light;
	.footer{
		display: table;
		text-align: center;
		width: 100%;

		li{
			$size: 3em;
			display: table-cell;
			min-height: $size;
			line-height: $size;
			@include responsive('max-phablet'){
				display: block;
			}
			&.social {
				$size: 5em;
				min-height: $size;
				line-height: $size;
			}
			&:not(:last-child){
				margin-right: $gap;
				@include responsive('max-phablet'){
					/*border-bottom: 1px solid $color-grey-dark;*/
					margin-right: 0;
				}
			}
			a{
				color: $color-light;
				font-size: 16px;
				text-decoration: none;
				@include responsive('max-phone'){
					font-weight: bold;
				}
				&:hover{
					color: $color-main;
				}
			}

			// Redes sociales
			&.social{
				font-family: $font-icons;
				a{
					$size: 2em;
					color: $color-dark;
					background-color: $color-light;
					@include border-radius($size / 2);
					display: inline-block;
					height: $size;
					line-height: $size * 1.05;
					width: $size;
					&.fa-facebook:hover{
						background-color: $color-facebook;
						color: $color-light;
					}
					&.fa-youtube:hover{
						background-color: $color-youtube;
						color: $color-light;
					}
					&.fa-instagram:hover{
						background-color: $color-instagram;
						color: $color-light;
					}
					&:not(:last-child){
						$margin: 0.5em;
						margin-right: $margin;
						@include responsive('max-tablet'){
							margin-right: $margin * 2;
						}
						@include responsive('max-phone'){
							margin-right: $margin * 3;
						}
					}
				}
			}
		}
	}

	// Eliminados márgenes de container en Pie de página
	.container{
		margin-bottom: 0;
		margin-top: 0;
	}
}