// Cabecera
.header{
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
	position: fixed;
	background-color: $color-light;
	top: 0;
	width: 100%;
  z-index: 2;

	// Centrado vertical
	.container{
		@extend %center-v;

		@include responsive('max-tablet') {
			margin-bottom: 10px;
			margin-top: 10px;
		}

		// Opción principal | < Break Menú Móvil
		@include responsive('min-#{$break-menu-mobile}'){
			// Ajustar celdas a contenido (excepto celda de menú)
			> *:not(nav){
				width: 1%;
				white-space: nowrap;
			}
			nav{
				width: 100%;
			}
		}

	}

	// Título
	h1{
		@include text('title');
		padding: 0.5em;
		padding-left: 0;
		@include box-sizing(border-box);
		margin: 0;
		text-align: left;
		a {
			border-bottom: 2px solid $color-main-light;
			&:hover {
				cursor: default;
				color: $color-dark;
			}
		}
		@include responsive('max-tablet') {
			margin-left: 2em;
      padding-left: 1rem;
		}
		@include responsive('max-miniphone') {
			margin-left: 1em;
			font-size: 1.3em;
		}
	}
}

// Espacio para cabecera
body{
	padding-top: $size-burguer;
	display: block;
}

// Excepciones de container en cabecera
header .container{
	@include responsive('max-#{$break-menu-mobile}'){
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 0;
	}
}
