// Logotipo
.logo{
	text-align: right;
	img{
		height: 52px;
		max-width: inherit;
		width: 170px;

		// BP | Menú Burguer
		@include responsive('max-#{$break-menu-mobile}'){
			height: 50px;
			width: 160px;
		}

		// BP | Phone
		@include responsive('max-phablet'){
			height: 37px;
			width: 120px;
		}
	}
}