// Ventana Modal
#modal{
  $size-btn: 4rem;
  $pad: 1em;
  background-color: $color-light;
  z-index: z('modal', 'base');
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: $transition;
  text-align: left;
  padding: $pad;
  overflow: scroll;
  @include box-sizing(border-box);

  // Ocultar si no existe la clase de la ventana modal
  &:not(.modal-open) {
    opacity: 0;
    visibility: hidden;
  }

  h1 {
    font-size: 2.5em;
    min-height: 54px;
  }
  p {
    color: $color-main;
    strong {
      color: $color-dark;
    }
  }

  // Botón de cierre
  button.close{
    background-color: $color-light;
    height: $size-btn;
    width: $size-btn;
    font-size: $size-btn;
    line-height: 0;
    z-index: z('modal', 'close');
    transition: $transition;
    position: absolute;
    top: 0;
    right: 0;

    // Equis
    &:after {
      content: 'X';
      font-family: $font-bold;
      font-size: 0.7em;
      vertical-align: top;
    }

    // Color en rollover
    &:hover{
      color: $color-main;
    }
  }
  canvas {
    display: inline-block !important;
  }
}
